{
"timePeriods": [{"startMins":60,"endMins":120}],
"ledEnabled": true,
"lowVoltageCutoffEnabled": true,
"batteryLevelCheckEnabled": true,
"sampleRate": 48000,
"gain": 2,
"recordDuration": 55,
"sleepDuration": 5,
"localTime": true,
"firstRecordingDate": "2020-11-21",
"lastRecordingDate": "2020-11-30",
"dutyEnabled": true,
"passFiltersEnabled": true,
"filterType": "low",
"lowerFilter": 0,
"higherFilter": 18000,
"amplitudeThresholdingEnabled": true,
"amplitudeThreshold": 448
}